.main-bg-container-main {
  display: flex;
}

.laptop-shows-not {
  display: flex;
}

.mobiles-devices {
  display: none;
}

@media all and  (max-width:768px) {
  .laptop-shows-not {
    display: none;
  }

  .mobiles-devices {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}